Source: yliw
Section: web
Priority: optional
Maintainer: Padya <padya1201@gmail.com>
Build-Depends: debhelper-compat (= 12)
Standards-Version: 4.5.1
Homepage: https://github.com/DattatreyaReddy/yliw

Package: yliw
Architecture: amd64
Depends: ${misc:Depends}, zenity
Description: Life tracker
 A free and open source Life tracker.
